doctype xml

mathbook

    docinfo
        latex-preamble
            package xypic
            package newpxtext
            package newpxmath
            package cancel


        include ./macros.pug

        feedback: url https://github.com/alexjbest/equidistribution/issues

        initialism EQ

        analytics: google: tracking UA-48250536-1

        rename(element="inlineexercise" lang="en-US") Exercise

        latex-image-preamble \usepackage{tikz}

        cross-references(text="global")/


    article#equidistribution
        title Equidistribution in Number Theory
        subtitle MA841 BU Fall 2018

        frontmatter
            titlepage
                author: personname Salim Ali Altuğ

                date: today/

        include ./equidistribution.pug
